.product_section{
    display:flexbox;
    flex-direction: column;
    margin-top: 1rem;
}
.pdmobup1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.pdmobup1-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid #80808030;
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    text-align: center;
    font-size: .75rem;
}

.pdmobup1-1 img {
    height: 4rem;
    width: 6rem;
    object-fit: cover;
}

.pdmobup1-1 h3 {
    font-weight: inherit;
    font-size: inherit;
}

.pdmobup1-1 h2 {
    font-size: inherit;
    font-weight: 600;
}
.product_001{
    display: flex;
    flex-direction: column;
    margin: 2rem .5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
    border: 1px solid #8080802e;
}
.product_section_upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2rem;
}
.product_header{
    display: flex;
    flex-direction: column;
}
.product_header h2{
    font-size: initial;
}
.product_header p{
    font-size: .7rem;
    color: gray;
}
.product_view_btn button{
    color: white;
   background-color: #2874f0;
   padding: 10px;
   border: none;
}
.product_section_buttom{
    display: flex;
    position: relative;
    width: 100vw;
    overflow: hidden;

}
.product_footer{
    display: flex;
    overflow-x: scroll;
    width: 100%;
}
.products{
    width: 10rem;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction:column ;
    transition: transform 0.5s ease;
}
.product_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.product-info-name h2{
    font-size: inherit;
    font-weight: inherit;
    color: gray;
}
.product-info-name h2:hover{
    color: #2874f0;
}
.product-info-rating{
    display: flex;
    align-items: center;
}
.product-info-rating p{
    background-color: #388e3c;
    color: white;
    display: flex;
    align-items: center;
    padding: .1rem;
    border-radius: .1rem;
    margin-right: 5px;

}
.product-info-price{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.product-info-price h2{
    font-size: inherit;
    color: #484848;
}
.product-info-price h3{
    font-size:.7rem;
    font-weight: inherit;
    text-decoration: line-through;
    color: gray;
}
.product-info-price p{
    font-size: .8rem;
    font-weight: inherit;
    color: #356801;
}
.product_image{
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.product_image a{
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: center;
}
.product_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
button.prev1,
button.next1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    color: #000;
    padding: 2.1rem 0.7rem;
    padding-left: .5rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .2);
    background: #fff;
    border-radius: 5px;
}
button.prev1 {
    left: 0;
}

button.next1 {
    right: 35px;
}