@media (max-width:480px){
    footer{
        width: 100%;
    }
    .footer_link{
        flex-direction: column;
        align-items: normal;
        margin-left:1.5rem;
    }
    .footer_link_main{
        flex-direction: column;
    }
}
@media (max-width: 768px){
    .navbar{
        height: 76px;
        position: relative;
        margin-bottom: 5px;
    }
    .container-fluid{
        display: none;
    }
    .nav_mobile{
        display: flex;
    }
    .header_fake{
        display: none;
    }
    .category{
        margin-top: 20px;
        overflow: hidden;
        justify-content: flex-start;
        padding: .25rem .75rem;
    }
    .slider{
      height: 9rem;
    }
    .slides{
        height: 8rem;
    }
    button.prev, button.next {
        padding: 0 0;
        color: white;
        background: none;
        box-shadow: none;
    }
    .product_section{
        display: block;
        margin: 25px 0;
    }
    .flpkftr{
        display: block;
    }
    .flpkftr1{
        display: none;
    }
    .flpkftr2{
        text-align: center;
    }
}
@media (max-width: 1110px){
    .header_link_inside{
        margin-right:1rem ;
    }
    .header_search_input{
        width: 20rem;
    }
}
@media (max-width: 1190px){
    .footer_bar{
        display: none;
    }
}
